#Monitor configuration settings
#Tue May 10 16:01:35 IST 2016
wm.monitor.myWebmethodsPassword=
wm.monitor.myWebmethodsTransport=http
wm.monitor.dlsSuperUser=Administrator
wm.monitor.dbRetries=3
wm.monitor.aclSetting=7
wm.monitor.etlBatchSize=100
wm.monitor.dlsEnabled=false
wm.monitor.resubmitOnLocalIS=true
wm.monitor.addMwUsertoMonitorACL=true
wm.monitor.myWebmethodsHost=localhost
wm.monitor.useCache=false
wm.monitor.jdbcArchive=false
wm.monitor.myWebmethodsPort=8585
wm.monitor.archiveResults.days=14
wm.monitor.myWebmethodsUserName=Administrator
wm.monitor.connTimeout=10000
