<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="is_hostname">MCBHP01.eur.ad.sag</value>
    <value name="is_identifier">c8bfc34c-02d8-470d-b617-db6ec9b76353</value>
    <value name="library_username"></value>
    <value name="library_url"></value>
  </record>
</IDataXMLCoder>
