#webMethods EDIINT module properties
#Mon May 16 10:01:35 IST 2016
wm.EDIINT.enableInSitu=false
wm.EDIINT.AS2RestartRetryCount=5
wm.EDIINT.submitPayload=true
wm.EDIINT.receiverURLs=/invoke/wm.EDIINT/receive
wm.EDIINT.version=8.2.1
wm.EDIINT.AS2RestartRetryIntervalInSeconds=2
wm.EDIINT.AS2RestartEnabled=false
wm.EDIINT.payloadDir=
wm.EDIINT.SMTPHost=smtp.company.com
wm.EDIINT.EDIINTIDMatch=true
wm.EDIINT.AS2RestartTempFilePath=packages/WmEDIINT/pub/as2restart_transactions
wm.EDIINT.alwaysUseUserProcessPayloadService=false
wm.EDIINT.persistInTNAndFileSystem=
wm.EDIINT.userProcessPayloadService=
wm.EDIINT.receiveExecuteACL=
wm.EDIINT.waitInSeconds=30
wm.EDIINT.persistSentAttachments=True
wm.EDIINT.allowProcessingOfDuplicateMDN=false
wm.EDIINT.processPayloadIfMDNNotSent=false
