EDIBigDocThreshold = -1
EDIencoding   = UTF-8
EDIMaxFATransactionErrors = 100
EDIUseNewRelationshipLabel = false
EDIAllowCustomControlNumberSequences = false
EDICheckEncodingLength = 20K
EDIEncodingsToTry = UTF-8
EDIResolveDuplicates = false
disableCIDSupport = false
PersistUnchangedInboundEDIDocument = false