standards=X12,EDIFACT,TRADACOMS

standard.X12.EnvelopeStart=ISA
standard.X12.EnvelopeEnd=IEA
standard.X12.AllowUndefinedData=false
standard.X12.DocumentStart=ST
standard.X12.DocumentEnd=SE
standard.X12.EnvelopeDefinition='{'[ISA,M]'{'[GS,M]'{'{0}'}'^[GE,M]'}'[IEA,M]'}'
standard.X12.SEFFile=packages/WmEDI/config/ICS4X12.SEF

standard.X12.VersionAliases=newVersion
standard.X12.newVersion.vers=3072,4010,4011,4012,4020,4021,4022,4030,4040,4050
standard.X12.newVersion.SEFFile=packages/WmEDI/config/ICS4X12new.SEF
standard.X12.newVersion.EnvelopeDefinition='{'[ISA,M]'{'[GS,M]'{'{0}'}'^[GE,M]'}'[IEA,M]'}'

standard.EDIFACT.EnvelopeStart=UNB
standard.EDIFACT.EnvelopeEnd=UNZ
standard.EDIFACT.AllowUndefinedData=false
standard.EDIFACT.DocumentStart=UNH
standard.EDIFACT.DocumentEnd=UNT
standard.EDIFACT.EnvelopeDefinition='{'[UNB,M]'{'[UNG]'{'{0}'}'^[UNE]'}'?*'{'{0}'}'[UNZ,M]'}'

standard.TRADACOMS.EnvelopeStart=STX
standard.TRADACOMS.EnvelopeEnd=END
standard.TRADACOMS.DocumentStart=MHD
standard.TRADACOMS.DocumentEnd=MTR
standard.TRADACOMS.EnvelopeDefinition=[STX]{0}[END]
