4, ACKHDR, ACKMNT, , ACKTLR, TRAD93.sef
4, AVLHDR, AVLDET, , AVLTLR, TRAD93.sef
4, CORHDR, CORDER, , CORTLR, 
6, CORHDR, CORDER, , CORTLR, TRAD93.sef
3, CRAHDR, CRAINF, , CRATLR, TRAD93.sef
9, CREHDR, CREDIT, VATTLR, CRETLR, TRAD93.sef
8, CUSHDR, CUSINF, , CUSTLR, TRAD93.sef
9, DELHDR, DELIVR, , DELTLR, TRAD93.sef
4, DLCHDR, DLCDET, , DLCTLR, TRAD93.sef
5, DLCHDR, DLCDET, , DLCTLR, TRAD98.sef
3, DRAHDR, DRAINF, , DRATLR, TRAD93.sef
3, EXCHDR, EXCINF, , EXCTLR, TRAD93.sef
3, GENHDR, GENRAL, , GENTLR, TRAD93.sef
8, INVFIL, INVOIC, VATTLR, INVTLR, 
9, INVFIL, INVOIC, VATTLR, INVTLR, TRAD93.sef
2, LPRHDR, LPRDET, , LPRTLR, TRAD93.sef
6, ORDHDR, ORDERS, , ORDTLR, TRAD93.sef
9, ORDHDR, ORDERS, , ORDTLR, TRAD93.sef
3, PAYHDR, PAYINF, , PAYTLR, TRAD93.sef
4, PICHDR, PICKER, , PICTLR, TRAD93.sef
2, PPRHDR, PPRDET, , PPRTLR, TRAD93.sef
8, PRIHDR, PRIINF, , PRITLR, TRAD93.sef
8, PROHDR, PROINF, , PROTLR, TRAD93.sef
3, SADHDR, SADDET, , SADTLR, TRAD93.sef
3, SNPHDR, SNPSTS, , SNPTLR, TRAD93.sef
6, SRMHDR, SRMINF, , SRMTLR, 
9, SRMHDR, SRMINF, , SRMTLR, TRAD93.sef
3, UCNHDR, UCNDET, , UCNTLR, TRAD93.sef
4, UPLHDR, UPLIFT, , UPLTLR, TRAD93.sef
2, UTLHDR, UTLBIL, UVATLR, UTLTLR, TRAD93.sef
3, UTLHDR, UTLBIL, UVATLR, UTLTLR, TRAD98.sef
