<HTML>



<HEAD>

<TITLE>Service Archive</TITLE>



<META http-equiv="Content-Type" content="text/html;charset=UTF-8">

<meta http-equiv="Pragma" content="no-cache">

<LINK REL="stylesheet" TYPE="text/css" HREF="/WmRoot/b2bStyle.css">



</HEAD>



<BODY>

<TABLE width="100%">

    <TR><TD class="menusection-Solutions">&nbsp; Monitor &gt; Archive &gt; Services</TD>



    %ifvar message%

	<tr>

	<td class="message">

		%value message%

	</td>

	</tr>

    %endif%

    %ifvar errorMessage%

	<tr>

	<td class="message">

		%value errorMessage%

	</td>

	</tr>

    %endif%

		

</TABLE>



</BODY>



</HTML>