<HTML>
<HEAD>

%comment% 
have to do this include indirection in order to make Monitor ask for logins
at the proper times - otherwise it asks for login in order to logout, and 
doesn't ask again if you log immediately back in
%endcomment%
<LINK REL="stylesheet" TYPE="text/css" HREF="/WmRoot/b2bStyle.css">
</HEAD>
<BODY><div class="position">

<TABLE width=100%>
  <TR><td class="title">Session terminated</td>
  <TR><td>Click <A HREF="/WmMonitor/">here</A> to resume</td>
</TABLE>

</div></BODY></HTML>
