#TradingNetworks properties
#Fri Sep 08 01:12:31 EDT 2000
tn.task.ttw=300
tn.task.maxRetries=5
tn.task.retryFactor=1
tn.certDir=cert
tn.mail.from=tn@webmethods.com
tn.task.sweepTime=300
tn.mail.subject=
tn.query.threshold=50
tn.task.notifyFailure=false
tn.cluster.sync.remoteAliases=
tn.cluster.notifyCacheChange=true
tn.cluster.notifyPropertyChange=true
tn.cluster.notifyProfileAddUser=true
tn.receive.clearTNObjects=true
tn.receive.clearKeys=node,bizdoc,sender,receiver,flags,ffdata,TN_Parms
tn.ff.contenttypes=text/plain
tn.default.idType=DUNS
tn.default.userCreation=false
tn.profile.builtInValidation=true
tn.profile.EnableLogProfileChanges=false
tn.dls.EnableLogDataSetChanges=false
tn.bam.monitoring.enable=false
tn.tpa.EnableLogTPA=false
tn.docType.EnableLogDocumentType=false
tn.deployer.export.dir=replicate/deployer/tn
tn.procRule.EnableLogProcessingRule=false
tn.partnerOnboarding.EnableLog=true
tn.portal.savetodisk.chunksize=102400
tn.query.maxrows=1000
tn.chart.fetchMaxRows=500000