#TradingNetworks properties
#Wed May 11 16:23:28 IST 2016
tn.cluster.notifyPropertyChange=true
tn.dls.EnableLogDataSetChanges=false
tn.procRule.EnableLogProcessingRule=false
tn.task.ttw=300
tn.cluster.sync.remoteAliases=
tn.tpa.EnableLogTPA=false
tn.mail.from=tn@webmethods.com
tn.receive.clearTNObjects=true
tn.mail.subject=
tn.certDir=cert
tn.task.notifyFailure=false
tn.cluster.notifyProfileAddUser=true
tn.bam.monitoring.enable=false
tn.task.maxRetries=5
tn.profile.EnableLogProfileChanges=false
tn.default.userCreation=false
tn.default.idType=DUNS
tn.query.maxrows=1000
tn.cluster.notifyCacheChange=true
tn.task.sweepTime=300
tn.chart.fetchMaxRows=500000
tn.docType.EnableLogDocumentType=false
tn.receive.clearKeys=node,bizdoc,sender,receiver,flags,ffdata,TN_Parms
tn.task.retryFactor=1
tn.portal.savetodisk.chunksize=102400
tn.partnerOnboarding.EnableLog=true
tn.profile.builtInValidation=true
tn.query.threshold=50
tn.ff.contenttypes=text/plain
tn.deployer.export.dir=replicate/deployer/tn
